header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px; 
    align-items: center;
    margin-top:20px;
    a {
      text-decoration: none;
      color: inherit;
  
      .logo {
        font-weight: bold;
      }
    }
    
    nav {
      display: flex;
      gap: 15px;
    }
  }