
.header-loggedin {
  display: flex;
  flex:1;
  justify-content: space-between;
  text-decoration: none;
  background-color: rgb(23, 131, 233);
  padding: 15px;
  .home,.profile,.logout {
    color: white;
    padding:15px 10px;
  }

  .header-loggedin-right {
    justify-content: space-evenly;
  }
  .home:hover,.profile:hover, .logout:hover {
    color: rgb(23, 131, 233);
    background-color: white;
  }
}

.header-loggedout {
  display: flex;
  flex:1;
  justify-content: right;
  text-decoration: none;
  background-color: rgb(23, 131, 233);
  .login, .register {
    color: white;
    padding:15px 10px;
  }

  .login:hover,.register:hover {
    color: rgb(23, 131, 233);
    background-color: white;
  }
}