
.expanded-post 
{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 5%;
    min-height: 100vh;
    background-color: white;
    border-radius: 40px;
    color: #17252A;
    h1 {
        color: black;
        font-size: 50px;
    }
    h2 {
        text-align: right;
        margin-right: 2%;
    }
    p {
       text-align: left;
       margin: 2%;
    }
    box-shadow: 0 4px 8px 0 grey, 0 6px 20px 0 grey;
    text-align: center;

}