* {
  box-sizing: border-box;
}
body {
  color:#222;
  text-align: center;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}
main {
  padding: 10px;
  max-width: 500px;
  margin: 0 auto;
}

img {
  max-width: 100% ;
}

  .post
  {
    display: grid;
    grid-template-columns: .9fr 1.1fr;
    gap:20px;
    margin-bottom: 10px;
    .texts {
      h2 {
        margin:0;
        font-size:1.8rem;
      }
    }
  }

  .info {
    margin:6px 0;
    color: #888;
    font-size:0.7rem;
    font-weight: bold;
    display:flex;
    gap:10px;
  }

  .author {
    color: #333;
  }

  .summary {
    margin: 10px 0;
    line-height: 1.4rem;
  }

